.line-container {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
          /* Adjust this height as needed */
  }
  
  .horizontal-line {
width: 2rem;
border: 1.5px solid rgb(56, 143, 209);    /* Set a max width to control the length */
         /* Remove the default border */

  }
.title-text{
  font-weight: 400;
}